<form novalidate name="form">
	<div class="row">
		<div class="col-md-6">
			<article class="panel panel-primary">
				<header class="panel-heading">
					<h1 class="h3">Customer Info</h1>
				</header>
				<section class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="sr-only" for="first-name">First Name</label>
								<input name="first_name" type="text" ng-model="customer.first_name" class="form-control" required>
								<p class="help-block" ng-messages="form.first_name.$error">
                  <span ng-message="required">First Name is required</span>
                </p>
							</div>					
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="sr-only" for="last-name">Last Name</label>
								<input name="last_name" type="text" ng-model="customer.last_name" class="form-control" required>
								<p class="help-block" ng-messages="form.last_name.$error">
                  <span ng-message="required">Last Name is required</span>
                </p>
							</div>					
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="sr-only" for="first-name">Username</label>
								<div class="input-group">
									<div class="input-group-addon">@</div>
									<input name="username" type="text" ng-model="customer.username" class="form-control" required>
									<p class="help-block" ng-messages="form.username.$error">
                  	<span ng-message="required">Username is required</span>
                	</p>
								</div>
							</div>					
						</div>
					</div>
					<div class="form-group has-feedback"
					ng-class="{'has-error': form.email.$invalid && form.email.$dirty,
					'has-success': form.email.$valid   && form.email.$touched}">
						<label class="sr-only" for="email">Email</label>
						<input name="email" type="email" ng-model="customer.email" class="form-control" required>
						<p class="help-block" ng-messages="form.email.$error">
					    <span ng-message="required">Email is required</span>
					    <span ng-message="email">Email must look like an email</span>
					  </p>
					</div>
				</section>
				<footer class="panel-footer">
					<label for="joined">Joined</label> {{ customer.joined_at | date }}
				</footer>
			</article>

			<article class="panel panel-default">
				<header class="panel-heading">
					<h1 class="h3">Shipping Address</h1>
				</header>
				<section class="panel-body">
					<div class="form-group">
						<label class="sr-only" for="street-address">Street Address</label>
						<input name="shippingStreet" type="text" ng-model="customer.shipping_street" class="form-control">
						<p class="help-block" ng-messages="form.shippingStreet.$error">
              <span ng-message="required">Street is required</span>
            </p>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="sr-only" for="city">City</label>
								<input name="shippingCity" type="text" ng-model="customer.shipping_city" class="form-control">
								<p class="help-block" ng-messages="form.shippingCity.$error">
                  <span ng-message="required">City is required</span>
                </p>
							</div>					
						</div>
						<div class="col-md-3">
							<div class="form-group has-feedback"
							ng-class="{ 'has-error': form.shippingState.$invalid && form.shippingState.$dirty,
							'has-success': form.shippingState.$valid && form.shippingState.$touched}">
								<label class="sr-only" for="state">State</label>
								<input name="shippingState" type="text" ng-model="customer.shipping_state" class="form-control" required pattern="[A-Z][A-Z]">
								<p class="help-block" ng-messages="form.shippingState.$error">
                  <span ng-message="required">State is required</span>
                  <span ng-message="pattern">State must look like a two-letter state code</span>
                </p>
							</div>					
						</div>
						<div class="col-md-3">
							<div class="form-group has-feedback"
							ng-class="{ 'has-error': form.shippingZip.$invalid && form.shippingZip.$dirty,
							'has-success': form.shippingZip.$valid && form.shippingZip.$touched}">
								<label class="sr-only" for="zip">Zip</label>
								<input name="shippingZip" type="text" ng-model="customer.shipping_zipcode" class="form-control" required pattern="\d\d\d\d\d">
								<p class="help-block" ng-messages="form.shippingZip.$error">
									<span ng-message="required">Zip is required</span>
									<span ng-message="pattern">Zip must be five digits</span>
								</p>
							</div>
						</div>
					</div>
				</section>
			</article>
		</div>

		<!-- SECOND COLUMN -->

		<div class="col-md-6">
			<article class="panel panel-default">
				<header class="panel-heading">
					<h1 class="h3">Billing Info</h1>
				</header>
				<section class="panel-body">
					<article ng-controller="CustomerCreditCardController" ng-init="setCardholderId(customerId)">
						<div class="row">
							<div ng-if="!creditCard.$resolved">
								<div class="col-md-10 col-md-offset-1">
									<aside class="progress">
										<div class="progress-bar progress-bar-striped active"
										style="width: 100%">
										Loading...
										</div>
									</aside>
								</div>
							</div>
							<div ng-if="creditCard.$resolved">
								<div class="col-md-7">
									<p class="h4">
										****-****-****-{{ creditCard.lastFour }}
										<span class="label label-success">{{ creditCard.cardType }}</span>
									</p>
									<p><label>Expires:</label>{{ creditCard.expirationMonth }}/{{ creditCard.expirationYear }}</p>
								</div>
								<div class="col-md-5 text-right">
									<a href="{{creditCard.detailsLink}}" target="_blank" class="btn btn-lg btn-default">View Details...</a>
								</div>
							</div>
						</div>
					</article>
					<hr>
					<article class="well well-sm">
						<h2 class="h5">
							<span class="pull-right"><input type="checkbox"> Same as shipping?</span>
							Billing Address
						</h2>
						<div class="form-group">
							<label class="sr-only" for="street-address">Street Address</label>
							<input name="billingStreet" type="text" ng-model="customer.billing_street" class="form-control" required>
							<p class="help-block" ng-messages="form.billingStreet.$error">
                <span ng-message="required">Street is required</span>
              </p>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="sr-only" for="city">City</label>
									<input name="billingCity" type="text" ng-model="customer.billing_city" class="form-control" required>
									<p class="help-block" ng-messages="form.billingCity.$error">
                    <span ng-message="required">City is required</span>
                  </p>
								</div>					
							</div>
							<div class="col-md-3">
								<div class="form-group has-feedback"
								ng-class="{ 'has-error': form.billingState.$invalid && form.billingState.$dirty,
								'has-success': form.billingState.$valid && form.billingState.$touched}">
									<label class="sr-only" for="state">State</label>
									<input name="billingState" type="text" ng-model="customer.billing_state" class="form-control" required pattern="[A-Z][A-Z]">
									<p class="help-block" ng-messages="form.billingState.$error">
                    <span ng-message="required">State is required</span>
                    <span ng-message="pattern">State must look like a two-letter state code</span>
                  </p>
								</div>					
							</div>
							<div class="col-md-3">
								<div class="form-group has-feedback"
								ng-class="{ 'has-error': form.billingZip.$invalid && form.billingZip.$dirty,
								'has-success': form.billingZip.$valid && form.billingZip.$touched}">
									<label class="sr-only" for="zip">Zip</label>
									<input name="billingZip" type="text" ng-model="customer.billing_zipcode" class="form-control" required pattern="\d\d\d\d\d">
									<p class="help-block" ng-messages="form.billingZip.$error">
                    <span ng-message="required">Zip is required</span>
                    <span ng-message="pattern">Zip must be five digits</span>
                  </p>
								</div>					
							</div>
						</div>
					</article>
					<div class="text-right">
						<button ng-click="save()" class="btn btn-lg btn-primary"
						ng-disabled="form.$invalid || form.$pristine">
							Save Changes
						</button>
					</div>
				</section>
			</article>
		</div>
	</div>
</form>