<form>
	<div class="row">
		<div class="col-md-6">
			<article class="panel panel-primary">
				<header class="panel-heading">
					<h1 class="h3">Customer Info</h1>
				</header>
				<section class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="sr-only" for="first-name">First Name</label>
								<input name="first-name" type="text" ng-model="customer.first_name" class="form-control">
							</div>					
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="sr-only" for="last-name">Last Name</label>
								<input name="last-name" type="text" ng-model="customer.last_name" class="form-control">
							</div>					
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="sr-only" for="first-name">Username</label>
								<div class="input-group">
									<div class="input-group-addon">@</div>
									<input name="username" type="text" ng-model="customer.username" class="form-control">
								</div>
							</div>					
						</div>
					</div>
					<div class="form-group">
						<label class="sr-only" for="email">Email</label>
						<input name="email" type="text" ng-model="customer.email" class="form-control">
					</div>
				</section>
				<footer class="panel-footer">
					<label for="joined">Joined</label> {{ customer.joined_at | date }}
				</footer>
			</article>

			<article class="panel panel-default">
				<header class="panel-heading">
					<h1 class="h3">Shipping Address</h1>
				</header>
				<section class="panel-body">
					<div class="form-group">
						<label class="sr-only" for="street-address">Street Address</label>
						<input name="street-address" type="text" ng-model="customer.shipping_street" class="form-control">
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="sr-only" for="city">City</label>
								<input name="city" type="text" ng-model="customer.shipping_city" class="form-control">
							</div>					
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="sr-only" for="state">State</label>
								<input name="state" type="text" ng-model="customer.shipping_state" class="form-control">
							</div>					
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="sr-only" for="zip">Zip</label>
								<input name="zip" type="text" ng-model="customer.shipping_zipcode" class="form-control">
							</div>					
						</div>
					</div>
				</section>
			</article>
		</div>

		<!-- SECOND COLUMN -->

		<div class="col-md-6">
			<article class="panel panel-default">
				<header class="panel-heading">
					<h1 class="h3">Billing Info</h1>
				</header>
				<section class="panel-body">
					<article ng-controller="CustomerCreditCardController" ng-init="setCardholderId(customerId)">
						<div class="row">
							<div ng-if="!creditCard.$resolved">
								<div class="col-md-10 col-md-offset-1">
									<aside class="progress">
										<div class="progress-bar progress-bar-striped active"
										style="width: 100%">
										Loading...
									</div>
								</aside>
							</div>
						</div>
						<div ng-if="creditCard.$resolved">
							<div class="col-md-7">
								<p class="h4">
									****-****-****-{{ creditCard.lastFour }}
									<span class="label label-success">{{ creditCard.cardType }}</span>
								</p>
								<p><label>Expires:</label>{{ creditCard.expirationMonth }}/{{ creditCard.expirationYear }}</p>
							</div>
							<div class="col-md-5 text-right">
								<a href="{{creditCard.detailsLink}}" target="_blank" class="btn btn-lg btn-default">View Details...</a>
							</div>
						</div>
					</div>
				</article>
				<hr>
				<article class="well well-sm">
					<h2 class="h5">
						<span class="pull-right"><input type="checkbox"> Same as shipping?</span>
						Billing Address
					</h2>
					<div class="form-group">
						<label class="sr-only" for="street-address">Street Address</label>
						<input name="street-address" type="text" ng-model="customer.billing_street" class="form-control">
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="sr-only" for="city">City</label>
								<input name="city" type="text" ng-model="customer.billing_city" class="form-control">
							</div>					
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="sr-only" for="state">State</label>
								<input name="state" type="text" ng-model="customer.billing_state" class="form-control">
							</div>					
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="sr-only" for="zip">Zip</label>
								<input name="zip" type="text" ng-model="customer.billing_zipcode" class="form-control">
							</div>					
						</div>
					</div>
				</article>
			</section>
		</article>
	</div>
</div>
</form>